# Supabase (públicas usadas no cliente)
NEXT_PUBLIC_SUPABASE_URL=https://scsldapnrzpjkyqkeiop.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjc2xkYXBucnpwamt5cWtlaW9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1NTYyMzksImV4cCI6MjA3MTEzMjIzOX0.TxRPb6uaLdCCBdjvjKOghvaD7EBPlA2rZqTfh8gPdBw

RESEND_API_KEY= re_TXynhhqf_EYPoDXb9vHCtwMRbd5hnjmRL
# Supabase (chave sensível — usar apenas server-side)
SUPABASE_SERVICE_ROLE_KEY=eeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjc2xkYXBucnpwamt5cWtlaW9wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU1NjIzOSwiZXhwIjoyMDcxMTMyMjM5fQ.0ggKAdkhPLQMpLQEp3YzQZN0tR4DIEZeErvhvgxysFQ

# Endpoints / URLs
NEXT_PUBLIC_API_BASE_URL=http://localhost:3003
FRONTEND_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=http://localhost:3001

# BetterStack Logs (Logtail)
LOGTAIL_TOKEN=cZZcxPA7ApX4UgaHu4FdBqNj 
LOGTAIL_URL=s1611462.eu-nbg-2.betterstackdata.com

